li{
    height: 80%;
    margin-left: 1%;
    margin-right: 1%;
}

ul{
    height: 100%;
    display: flex;
    list-style-type: none;
    padding: 2%;
}

.category{
    margin-left: 10px;
    margin-right: 10px;
}

#category-header{
    position: relative;
    font-size: 62px;
    margin: 1%;
    font-family: "Exo 2";
}

.card{
    width: 85%;
    background-color: white;
}

.card:hover{
    position:  relative;
    top: -20px;
    left: -2%;
    cursor: pointer;
    width: 90%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
