li{
    height: 80%;
    margin-left: 1%;
    margin-right: 1%;
}

ul{
    height: 100%;
    display: flex;
    list-style-type: none;
    padding: 2%;
}

.category{
    margin-left: 10px;
    margin-right: 10px;
}

#category-header{
    position: relative;
    left: 0;
    margin-left: 10%;
    font-size: 30px;

    
}

.card{
    width: 85%;
}

.card:hover{
    position:  relative;
    top: -20px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
